.card-container {
  position: relative;
}

.movie-card {
  width: 250px;
  height: 350px;
  border: 1px solid rgb(48, 48, 48);
  border-radius: 5px;
  padding: 20px;
  color: inherit;
  background-size:100% 100%;
  transition: transform 0.3s;
}

.movie-cards {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 60px;
}

.movie-image-favorites {
  margin-top: 20px;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
}

.movie-cards a {
  text-decoration: none;
  color: inherit;
}

#movies-title {
  padding-top: 50px;
  padding-left: 60px;
  font-size: 50px;
  font-weight: bold;
}

.active {
  transform: scale(1.05);
  transition: ease-in-out transform 0.3s;
}

.go-up{
  transform: translateY(-10px);
  transition: ease-in-out transform 0.3s;
}

.movie-form {
  padding-top: 50px;
  padding-left: 60px;
  position: absolute;
  bottom: 10px;
  left: 250px;
}

.movie-form > input {
  margin: 10px;
}

.display-flex {
  display: flex;
  position: relative;
}

.show-card-tv {
  position: relative;
  width: 400px;
}

.heart-icone-active {
  fill: rgba(232, 38, 38, 0.891);
  width: 50px;
  height: 50px;
  position: absolute;
  left: 438px;
  top: 10px;
}

.heart-icone-disable {
display:none
}

.go-back {
background-color: inherit;
margin-bottom: 30px;
font-size: 0.8rem;
border: none;
color: inherit;
margin-left: 0;
padding: 0;
}

.index-favorite {
  fill: rgba(232, 38, 38, 0.891);
  width: 30px;
  height: 30px;
  position: absolute;
  left: 203px;
  top: 36px;
  z-index: 2;
}

.index-favorite-disable {
  display: none
}
