.my-infos {
  border: 1px solid rgb(104, 108, 124);
  border-radius: 5px;
  padding: 30px 0 30px 30px;
}

.form-background {
  height: 100vh;
}

.mini-card {
  max-width: 150px;
  margin: 0 20px 0 0;
  border: solid rgba(143, 143, 143, 0.439) 1px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.mini-card img {
  max-width: 100px;
}

.mini-cards-wrapper{
  display: flex;
  flex-wrap: wrap;
  background-color: inherit;
}

.mini-cards-wrapper a {
  text-decoration: none;
  color: inherit;
}

.delete-button {
  position: absolute;
  font-size: 13px;
  background-color: rgb(178, 178, 178);
  top: -14px;
  z-index: 2;
  color: rgb(107, 107, 107);
  border-radius: 30%;
  padding: 0px 8px 2px ;
  border: 1px solid rgb(178, 178, 178);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.156);
}
